@font-face {
  font-family: "BreeSerif";
  src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
  font-family: "CormorantInfantBold";
  src: url(../fonts/CormorantInfant-Bold.ttf);
}
@font-face {
  font-family: "Marcellus";
  src: url(../fonts/Marcellus-Regular.ttf);
}
@font-face {
  font-family: "BreeSerif";
  src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
  font-family: "CormorantInfantBold";
  src: url(../fonts/CormorantInfant-Bold.ttf);
}
@font-face {
  font-family: "Marcellus";
  src: url(../fonts/Marcellus-Regular.ttf);
}
@font-face {
  font-family: "BreeSerif";
  src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
  font-family: "CormorantInfantBold";
  src: url(../fonts/CormorantInfant-Bold.ttf);
}
@font-face {
  font-family: "Marcellus";
  src: url(../fonts/Marcellus-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation {
  color: #b8336a;
  line-height: 28px;
  letter-spacing: 3px;
  display: flex;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.5em;
  border-bottom: 0.5px solid rgb(255, 255, 255);
}
.navigation a {
  text-decoration: none;
  color: #b8336a;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}
.navigation ul li {
  padding: 30px;
}
.navigation .logo {
  flex: 1;
  display: flex;
}
.navigation .logo-img {
  margin: 20px;
}
.navigation .logo-name {
  margin-top: 30px;
  font-size: 2em;
}
.navigation .nav-items {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info .main-img img {
  width: 300px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-info .main-text {
  color: #b8336a;
  line-height: 28px;
  letter-spacing: 3px;
  padding: 20px 80px;
  text-align: center;
  font-family: "Marcellus", sans-serif;
  font-size: 1.1em;
}

.content {
  background-color: rgba(190, 226, 250, 0.7);
  display: flex;
  flex-direction: column;
  font-family: "Marcellus", sans-serif;
  margin: 40px 100px;
  line-height: 29px;
  font-size: 1.2em;
}
.content h2 {
  margin: 30px 0 0 30px;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.8em;
}
.content .about-country h1 {
  font-family: "BreeSerif", sans-serif;
  text-align: center;
  margin-top: 40px;
}
.content .about-country p {
  padding: 30px;
}
.content .about-country .japan-flag .flag {
  margin: 30px 20px 10px 10px;
  float: right;
  max-width: 300px;
  border-radius: 4px;
}

.geography {
  display: flex;
  flex-direction: column;
}
.geography h2 {
  margin: 30px 0 0 30px;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.8em;
}
.geography img {
  max-width: 330px;
  border-radius: 4px;
  margin: 10px;
}
.geography .geo-images {
  display: flex;
  justify-content: space-around;
}
.geography p {
  padding: 30px;
}

.demographics h2 {
  margin: 30px 0 0 30px;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.8em;
}
.demographics .population .tokyo {
  margin: 30px 20px;
  float: left;
  max-width: 340px;
  border-radius: 4px;
}
.demographics .population p {
  padding: 30px;
}

.culture-images {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.culture-images img {
  max-width: 330px;
  border-radius: 4px;
  margin: 10px;
}

.culture h2 {
  margin: 30px 0 0 30px;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.8em;
}
.culture .h-culture {
  text-align: center;
  font-size: 2.3em;
  font-family: "BreeSerif", sans-serif;
}
.culture .architecture p {
  padding: 30px;
}
.culture .anime h2 {
  margin: 30px 0 0 30px;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.8em;
}
.culture .anime img {
  max-width: 330px;
  border-radius: 4px;
  margin: 10px;
}
.culture .anime .about-anime .anime-img {
  float: right;
  border-radius: 4px;
  margin: 10px;
}
.culture .anime .about-anime p {
  padding: 30px;
}
.culture .tea-tradition h2 {
  margin: 30px 0 0 30px;
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.8em;
}
.culture .tea-tradition p {
  padding: 30px;
}
.culture .tea-tradition .tea-img {
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.contact-us {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us .button {
  width: 10%;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  transition: 0.2s linear;
  background: #f23eb0;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  font-family: "Marcellus", sans-serif;
}
.contact-us .button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #f23eb0;
}
.contact-us h2 {
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 2em;
  margin: 10px;
}
.contact-us .email-input,
.contact-us .text-input {
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 25%;
  font-family: "Marcellus", sans-serif;
  font-size: 1.2em;
}
.contact-us .text-input {
  height: 150px;
}

footer {
  background-color: rgba(190, 226, 250, 0.7);
  font-family: "CormorantInfantBold", sans-serif;
  font-size: 1.6em;
}
footer .footer-links {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
footer .footer-links a {
  text-decoration: none;
  color: #b8336a;
}
footer .footer-links ul {
  display: flex;
  list-style-type: none;
}
footer .footer-links ul li {
  padding: 30px;
}
footer .rights {
  text-align: center;
  padding: 50px;
  color: #b8336a;
}

@media (max-width: 768px) {
  .navigation {
    font-size: 1.3em;
  }
  .navigation .logo-img {
    margin: 20px;
  }
  .navigation .logo-name {
    margin-top: 30px;
    font-size: 1.5em;
  }
  .navigation .nav-items {
    flex: 3;
    display: flex;
    justify-content: center;
  }
  .navigation ul li {
    padding: 15px;
  }
  .main-info .main-img img {
    width: 280px;
  }
  .main-info .main-text {
    letter-spacing: 2px;
    font-size: 1em;
  }
  .content {
    font-size: 1em;
  }
  .geography .geo-images {
    display: flex;
    flex-direction: column;
  }
  .culture-images {
    display: flex;
    flex-direction: column;
  }
  .anime-img img {
    width: 200px;
  }
  .tea-img img {
    width: 430px;
  }
  .contact-us .email-input,
  .contact-us .text-input {
    width: 40%;
    font-size: 1.1em;
  }
  footer {
    font-size: 1.3em;
  }
}
@media (max-width: 425px) {
  body {
    background-image: none;
  }
  .content {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .navigation {
    font-size: 1.3em;
    flex-direction: column;
  }
  .navigation .nav-items {
    flex: 3;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
  }
  .navigation .nav-items ul li {
    padding: 10px;
  }
  .main-info .main-img img {
    width: 260px;
  }
  .main-info .main-text {
    letter-spacing: 1px;
    font-size: 1em;
  }
  .content {
    font-size: 1em;
  }
  .japan-flag,
  .geography,
  .population,
  .culture-images,
  .tea-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .japan-flag img,
  .geography img,
  .population img,
  .culture-images img,
  .tea-img img {
    width: 240px;
  }
  .contact-us {
    background-color: rgba(190, 226, 250, 0.7);
    margin: 0;
  }
  .contact-us .button {
    width: 20%;
  }
  footer .footer-links nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
  }
}
@media (max-width: 375px) {
  .nav-items ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1em;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .main-info .main-img img {
    width: 220px;
  }
  .main-text p {
    line-height: 20px;
  }
  .content {
    background-color: white;
  }
  .geography .text-geo {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
  }
  .contact-us .email-input,
  .contact-us .text-input {
    width: 80%;
  }
  .contact-us .button {
    font-size: 1.2em;
    width: 25%;
  }
  footer .footer-links {
    line-height: 1px;
  }
  footer .rights {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=style.css.map */
