@font-face {
    font-family: 'BreeSerif';
    src: url(../fonts/BreeSerif-Regular.ttf);
  }
  @font-face {
    font-family: 'CormorantInfantBold';
    src: url(../fonts/CormorantInfant-Bold.ttf);
  }
  @font-face {
    font-family: 'Marcellus';
    src: url(../fonts/Marcellus-Regular.ttf);
  }