@mixin fontSettings {
  color: #b8336a;
  line-height: 28px;
  letter-spacing: 3px;
}
@mixin setLink {
    a{
        text-decoration: none;
        color: #b8336a;
    }
}
@mixin setHeader2{
  h2{
    margin: 30px 0 0 30px;
    font-family: $font-stack-secondary-headers;
    font-size: 1.8em;
  }
}
@mixin setImg{
  img{
    max-width: 330px;
    border-radius: $img-border;
    margin: 10px;
    }
}