@import "fonts";
$font-stack-main-headers: 'BreeSerif', sans-serif;
$font-stack-secondary-headers: 'CormorantInfantBold', sans-serif;
$font-stack-regular: 'Marcellus', sans-serif;
$text-padding: 30px;
$gentle-bg: #F4D6CC;
$shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
$img-border: 4px;